In [25]:
import pandas as pd
import mysql.connector as sql

In [27]:
db_connection = sql.connect(host='-', database='tcc', user='-', password='-')
df = pd.read_sql('SELECT * FROM microdados_final_v2', con=db_connection)

In [30]:
df.describe()

,escol_paterna,escol_materna,ren_total,sit_trabalho,aux_permanencia,uf_ens_medio,cat_esc_ens_medio,concl_es_familia,dedic_h_estudos,anos_egressao,anos_em_curso,nota_geral
count,392093.000000,392093.000000,392092.000000,392089.000000,392091.000000,392035.000000,392044.000000,392043.000000,392044.000000,393408.000000,393408.000000,393326.000000
mean,3.369741,3.541736,3.436951,3.466596,1.167512,34.335179,1.636980,1.338506,2.655539,5.838455,3.353900,45.968574
std,1.323793,1.328560,1.629523,1.745347,0.853215,9.620659,1.096666,0.473202,1.012733,6.441830,1.633148,13.477918
min,1.000000,1.000000,1.000000,1.000000,1.000000,11.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,2.000000,2.000000,2.000000,1.000000,1.000000,31.000000,1.000000,1.000000,2.000000,1.000000,3.000000,36.025000
50%,4.000000,4.000000,3.000000,4.000000,1.000000,35.000000,1.000000,1.000000,2.000000,3.000000,3.000000,45.100000
75%,4.000000,4.000000,5.000000,5.000000,1.000000,41.000000,2.000000,2.000000,3.000000,8.000000,4.000000,55.300000
max,6.000000,6.000000,7.000000,5.000000,6.000000,99.000000,6.000000,2.000000,5.000000,59.000000,37.000000,95.500000

In [32]:
df.head()

,escol_paterna,escol_materna,ren_total,sit_trabalho,aux_permanencia,uf_ens_medio,cat_esc_ens_medio,concl_es_familia,dedic_h_estudos,anos_egressao,anos_em_curso,nota_geral
0,2.0,2.0,2.0,5.0,1.0,51.0,1.0,2.0,3.0,11,3,36.7
1,4.0,4.0,3.0,5.0,1.0,51.0,1.0,1.0,2.0,4,3,42.1
2,4.0,4.0,3.0,4.0,1.0,51.0,2.0,1.0,2.0,1,5,56.2
3,4.0,4.0,5.0,4.0,1.0,51.0,2.0,1.0,2.0,1,3,49.6
4,4.0,4.0,3.0,1.0,1.0,51.0,1.0,2.0,2.0,1,3,58.3

In [47]:
import sklearn as skl
from sklearn import tree
import numpy as np

In [44]:
trainA = df.sample(1000)
trainB = df.sample(1000)

trainA = trainA[trainA.isnull().any(axys=1)]
trainA = trainB[trainB.isnull().any(axys=1)]

In [68]:
df.loc[393380][0].dtype

dtype('float64')

In [69]:
df[df.isnull().any(axis=1)]

,escol_paterna,escol_materna,ren_total,sit_trabalho,aux_permanencia,uf_ens_medio,cat_esc_ens_medio,concl_es_familia,dedic_h_estudos,anos_egressao,anos_em_curso,nota_geral
2307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,40.2
2312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,5,31.9
2612,4.0,5.0,6.0,5.0,1.0,43.0,2.0,1.0,2.0,8,2,NaN
3870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,3,47.0
4035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,8,38.9
4089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33,1,47.2
4167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,5,34.9
4201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,5,41.0
4297,3.0,4.0,1.0,5.0,1.0,NaN,NaN,NaN,NaN,1,11,NaN
5033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,6,50.1
5545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,8,31.3
5750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,7,51.9
5895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,6,57.5
6117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,8,60.5
6227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,4,34.6
6240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,4,39.9
6878,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,5,63.5
6960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,4,39.4
7037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,5,34.8
7146,5.0,5.0,4.0,5.0,1.0,24.0,2.0,1.0,3.0,13,10,NaN
7575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,4,42.5
7674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,4,40.1
7735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,4,16.4
7834,4.0,4.0,5.0,4.0,1.0,42.0,2.0,1.0,2.0,5,4,NaN
8040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,1,38.7
8386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3,31.0
8400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,7,45.1
8440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,8,18.4
8462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,3,54.2
9036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,3,30.9
...,...,...,...,...,...,...,...,...,...,...,...,...
384902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,37.0
385420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,4,49.3
385986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,5,70.4
386766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,6,62.5
387055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,4,23.2
387190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3,78.7
387382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,6,71.8
388109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3,66.5
388646,4.0,4.0,2.0,4.0,1.0,NaN,NaN,NaN,NaN,1,3,30.5
388647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3,59.5
388869,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,4,60.0
388878,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,4,42.5
388883,5.0,5.0,2.0,5.0,1.0,NaN,NaN,NaN,NaN,1,3,44.3
389434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,3,30.3
389516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,1,62.9
389760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,51.9
389900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2,54.2
390443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3,52.6
390844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,4,46.2
390993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,5,57.3
391106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,3,61.2
391235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,5,56.0
391570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3,36.7
391580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3,59.8
391676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2,63.4
391880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,3,36.9
392313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3,39.3
392317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3,61.4
392616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,3,45.2
393380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,2,58.0

In [70]:
len(df[df.isnull().any(axis=1)])

1452